/* variables */
:root {
  --base: #ffc600;
  --spacing: 50px;
  --blur: 0px;
}

/* styling */
body {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

.controls {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border: 1px solid red;
}

img {
  width: 500px;
  padding: var(--spacing);
  background-color: var(--base);
  filter: blur(var(--blur));
}